.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 10px auto 0 ;
  border: 1px solid green;
  padding: 10px;
}

.wrapper_sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section {
  width: 100px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
}

.button_reset {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: cadetblue;
}

input {
  text-align: center;
}
