.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;

  font-size: 20px;
}


.button {
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 10px auto 0 ;
  border: 1px solid green;
  padding: 5px;
}

.wrapper_sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: centser;
  justify-content: center;
}
.section {
  max-width: 100px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
}

.button_reset {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: cadetblue;
  font-size: 16px;
  font-weight: 600;


}

input {
  text-align: center;
}
